/* GLOBALS */
* {
    box-sizing: border-box; /* теперь свойства width и height включают в себя значения полей и границ,
     но не отступов (margin) */
}
* {
    outline: 1px solid red;
}

body, html {
    margin: 0; /* отступ; тут он =0 со всех сторон */
    padding: 0; /* Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние
                от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое;
                тут поля будут установлены от каждого края элемента */
    font-family: Arial, sans-serif;  /* этот шрифт походу есть на каждом компе */
    font-size: 16px; /* размер шрифта */
    line-height: 1.5; /* межстрочный интервал */
    color: #404040; /* надо будет потом спросить, как подбирать цвет. (ну, мб из ФШ. Но как КОД цвета
    из SMYK/RGB конвертировать в код того-же цвета для свойства color в css?) */

}

a {                          /* это для ссылочек */
    text-decoration: none;
    color: #404040;
}

a:hover { /* тут соль в том, что :hover определяет всеводкласс, а он определяет стиль элемента при наведении на него
            курсора мыши, но при этом элемент еще не активирован, иными словами кнопка мыши не нажата */
    text-decoration: none;
    color: black;
}

/* HELPERS */
.clearfix::after { /* тут еще предстоит разобраться. Псевдоэлемент, который используется для вывода желаемого
                    текста после содержимого элемента, к которому он добавляется. Псевдоэлемент :after работает
                    совместно со свойством content. Но и это еще не все нюансы, перед использованием прогуглить */
    content: ""; /* Генерируем пустой элемент */
    clear: both; /* Отменяем обтекание*/
    display: block; /* Блочный элемент */
  }

/* REUSABLE */
.container {
    margin: 0 auto;
    padding: 0 40px;
    width: 1060px;  /* высота */
}

/* SECTIONS */
.introSection {
    background-color: #ef9f13;
}

.introSection__container {
    padding-top: 70px; /*------------------------- Устанавливает значение поля от верхнего края содержимого элемента.
                                                 Полем называется расстояние от внутреннего края рамки элемента до
                                                  воображаемого прямоугольника, ограничивающего его содержимое */
    background-image: url(../img/back.jpg);
    background-size: cover; /*------------------- для cover: Масштабирует изображение с сохранением пропорций так,
                                                чтобы его ширина или высота равнялась ширине или высоте блока. */
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 767px;
}

.header {}

.header__logoCol {
    width: 300px;
    float: left; /* обтекание текстом */
}

.header__logo {
    max-width: 185px; /* Устанавливает максимальную ширину элемента. Значение ширины элемента будет вычисляться в
                       зависимости от значений установленных свойств width, max-width и min-width. Перед
                       использованием прогуглить*/
}

.header__navCol {
    width: 680px;
    float: right;
}

.header__nav {
    padding-top: 25px;
}

.header__navItem {
    display: inline-block;
    margin-right: 50px;
    color: black;
    font-size: 18px;
}

.header__navItem:last-child {
    margin-right: 0;
}

.promoSection {
    margin-top: 142px;
    width: 1062px;
    height:445px;

}

.promoText {
    margin-top: 142px;
    width: 448px;
    height: 322px;

}

.big {
    /* margin-top: 145px; */
    width: 446px;
    height: 127px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    line-height: 1.2;

}

.small {
    margin-top: 41px;
    width: 422px;
    height: 42px;
    font-size: 17px;
}

.sendRequestBackground {
    margin-top: 45px;
    width: 300px;
    height: 66px;

    background-image: url(../img/send_request_green.png);

}

.sendRequestText {
    margin-top: auto;
    width: 159px;
    height: 20px;
    color: azure;

    display: block;
    margin-left: auto;
    margin-right: auto

}

.promo__logo {
    width: 821px;
    float: right; /* обтекание текстом */
    /*z-index: 999; */
    position: absolute;
    right: 210px;
    /* display: inline; */
}

/*__________________________advantages________________________*/

.advs_back {
    padding-top: 0; /*------------------------- Устанавливает значение поля от верхнего края содержимого элемента.
                                                 Полем называется расстояние от внутреннего края рамки элемента до
                                                  воображаемого прямоугольника, ограничивающего его содержимое */
    /*background-image: url(../img/advs_gray_back.png);*/
    background-size: cover; /*------------------- для cover: Масштабирует изображение с сохранением пропорций так,
                                                чтобы его ширина или высота равнялась ширине или высоте блока. */
    min-height: 252px;
    background: gainsboro no-repeat top center;
    position: relative;
}

.advsSection {
    background-color: gainsboro;
    margin: 0 422px;
    padding: 0 40px;
    width: 1150px;  /* ширина */
    height: 255px; /* высота */
    display: block; /* Блочный элемент */

}

.advs_logo_back {
    width: 1070px;
    height: 108px;
}

.advs__logo {
    max-width: 185px; /*хз, надо тестить на других разрешениях*/
    display: inline-block;
    margin-right: 125px;
    margin-top: 0;
    z-index: 1;

}

.advs__logo_inside_1 {
    height: 45px;
    width: 41px;
    left: -225px;
    margin: 28px 22px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.advs__logo_inside_2 {
    height: 51px;
    width: 57px;
    left: -225px;
    margin: 28px 22px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.advs__logo_inside_3 {
    height: 48px;
    width: 52px;
    left: -225px;
    margin: 28px 22px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.advs_strong_text {
    display: block; /* Блочный элемент */
    float: left; /* обтекание текстом */
    font-size: 19px;
    font-weight: bold;
    margin: 7px 47px 35px 0;

}

.advs_strong_text_righter {
    display: block; /* Блочный элемент */
    float: left; /* обтекание текстом */
    font-size: 19px;
    font-weight: bold;
    margin: 7px 47px 35px 37px;

}
/* a little cr@b:

______________$$_____________________ $$____________
____________$$$__$__________________$__$$$__________
___________$$$___$$________________$$___$$$_________
___________$$$$$$$$________________$$$$$$$$_________
____________$$$$$$_____0_____0______$$$$$$__________
_____________$$$$____$$|$$$$$|$$$____$$$$___________
_______________$$__$$$$$$$$$$$$$$$$__$$_____________
___________$$___$$$$$$$$$$$$$$$$$$$$$$___$$_________
_________$$__$$__$$$$$$$$$$$$$$$$$$$$__$$__$$_______
________$______$$$$$$$$$$$$$$$$$$$$$$$$______$______
________$__$$$____$$$$$$$$$$$$$$$$$$____$$$__$______
__________$___$$$$_$$$$$$$$$$$$$$$$_$$$$___$________
_________$_________$_$$$$$$$$$$$$_$_________$_______
_________$______$$$________________$$$______$_______
_______________$______________________$_____________
______________$________________________$____________
______________$________________________$____________



____________________oS888888888So____________________
__________________o88888888888S888S____________________
_________________o888888888888S8888S____________________
_________________8888888888888888888o____________________
_________________888__88888____88888S____________________
_________________88_@_888__@__8888S____________________
_________________88_88_8S8_8888_88888____________________
_________________S88S________S8888888____________________
_________________S88___________888888o____________________
_________________S888ooooSSo8__8888S88S____________________
_________________88S888SSS8So__o8888888S____________________
_______________oS8S_oS888So_____o8888888So____________________
______________o888________________88888888o____________________
____________oS8888________________S88888888S____________________
___________o88888S_________________S888888888o____________________
___________88S88S___________________S8888_8888o____________________
__________88888o_____________________8888_S8888____________________
_________S8888S______________________o8888_88888____________________
________S88888________________________8888_88888____________________
_______S888888________________________88S_S88888o____________________
_______8888S88________________________S8__888888____________________
______S8ooS88So____________________oS88888888888S____________________
______88____S88So__________________88oS8888888oS8____________________
_ooooS8o_____o8888o________________88__oS8Soo__o8____________________
88oooo_________S8888o______________88___________8So____________________
o8o_____________S8888____________ooS88___________oSSSo____________________
_88______________o88oo________ooS88o88______________88____________________
S8o_______________S8o888SSSS888888SS8S_________ooo8SSo____________________
S8oooo_____________88S888888888888888o______oS88Soo____________________
__oSoSS8SSoooo___oo888SoooooooooooS888ooooS88So____________________
__________oSoSSSSSSo_______________oS88888So____________________
*/




/*__________________________________*/
/* пофиксить:
1) "ПОДАТЬ ЗАЯВКУ"  НЕ ПО ЦЕНТРУ!
2) бэкграунд "ПОДАТЬ ЗАЯВКУ" должен перекрывать картинку, попробовать z-index;
3) поменять местами названия advs_back и advsSection, а то чёт как у быдло-кодеров(((
4) синее лого advs_logo_back должен быть частично на желтом и сером фоне одновременно, попробовать потом
разделить его на две части, одну оставить в introSection, а другую в advsSection. Ну, или лучше
переместить их в полностью в introSection, при этом сделав отступ таким, чтобы лого попадало в advsSection
5) advs__logo и advs__logo_inside стоят криво, попробовать засунуть один класс в другой
6) запилил 3 отдельных класса advs_logo_1,2,3. Самому не нравится, пока ничего лечше не смог реализовать
 */